.member-detail__body {
  background-color: #f1f1f1;
  min-height: 1200px;
}
.member-detail__container {
  background-color: white;
  border-radius: 10px;
  margin: 150px auto 100px;
  padding: 10px 10px 50px 10px;
  width: 1050px;
  height: auto;
  min-height: 100%;
}
.member-detail__title-box {
  margin: 0px 12px;
  width: 98%;
  border-bottom: 1px solid #353535;
  display: flex;
  padding-bottom: 10px;
}
.member-detail__title-box > span {
  width: 140px;
  color: #646464;
  font-size: 30px;
}

.member-detail__main-container {
  margin: 0px auto 5px;
  /* border: 1px solid #353535; */
  padding: 10px;
  width: 1000px;
  height: 540px;
}
.member-detail__detail {
  display: flex;
  width: 98%;
  height: 420px;
  /* background-color: blue; */
  padding: 10px;
}
.member-detail__image-box {
  width: 49%;
}
.image {
  /* border: 1px solid #353535; */
  border-radius: 10px;
  width: 400px;
  height: 400px;
}
.member-detail__detail-box {
  display: flex;
  flex-direction: column;
  width: 49%;
  /* background-color: aqua; */
  padding: 10px;
  font-size: 25px;
  color: #353535;
}
.name-box {
  display: flex;
  align-items: center;
  width: 500px;
}
.member-detail__text-box {
  width: 480px;
  height: 36px;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}
.member-detail__resolution-box {
  margin-top: 5px;
}
.member-detail__resolution {
  width: 500px;
  border: 1px solid black;
  border-radius: 5px;
  height: 185px;
  padding: 5px 0px 10px 5px;

  color: #353535;
  font-size: 15px;
  overflow: scroll;
  overflow-x: hidden;
  text-overflow: clip;
  /* white-space: nowrap; */
}
.member-detail__button-box {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-left: 10px;
  width: 973px;
}
.member-detail__button-box > a {
  text-align: center;
  text-decoration: none;
  color: white;
}
.member-detail__gray-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 28px;
  background-color: #666666;
  color: white;
  border-radius: 10%;
  padding: 5px;
  cursor: pointer;
}
.member-detail__red-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 28px;
  background-color: var(--main-red);
  color: white;
  border-radius: 10%;
  padding: 5px;
  cursor: pointer;
}
#member-detail__cancle {
  margin-right: auto;
}
#member-detail__delete {
  margin-left: 5px;
}

.comment-box{
  margin: 10px 0px 10px -10px;
  /* border: 1px solid #353535; */
  padding: 10px;
  width: 1050px;
  min-height: 100px;
  background-color: white;
  border-radius: 10px;
}
.comment-text{
  padding: 10px;
  margin: 0px auto 0px;
  width: 92%;
  border-bottom: 1px solid #353535;
  display: flex;
  font-size: 30px;
}
.comment-list{
  margin: auto;
  padding: 10px;
  width: 94%;
  min-height: 100px;
  /* background-color: #353535; */
}
.comment{
  padding: 5px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  height: 50px;
}
.comment-id{
  width: 10%;
}
.comment-word{
  width: 700px;
}
.comment-btn-box{
  margin: 0px auto 0px;
  display: flex;
  width: 100px;
}
.comment-fix-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 20px;
    background-color: var(--main-red);
    color: white;
    text-decoration: none !important;
    border-radius: 10%;
    padding: 5px;
    cursor: pointer;
    font-size: 14px;
}
.comment-fix-btn:hover{
  color: white;
  text-decoration: none !important;
}
.comment-del-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 20px;
  background-color: #666666;
  color: white;
  text-decoration: none !important;
  border-radius: 10%;
  padding: 5px;
  cursor: pointer;
  margin-left: 5px;
  font-size: 14px;
}
.comment-del-btn:hover{
  color: white;
  text-decoration: none !important;
}
.comment-date{
  width: 10%;
}
.form-container {
  display: flex;
  margin-top: 20px;
  padding: 10px;
  width: 950px;
}
.left-box {
  margin-left: 20px;
  width: 10%;
}
.right-box {
  width: 85%;
}
#id,#password{
  padding: 5px;
  width: 100px;
  height: 20px;
  margin-bottom: 10px;
}
#content{
  margin-left: 40px;
  width: 840px;
  height: 200px;
  resize: none;
  padding: 10px;
  font-size: 18px;
}

.comment-submit-btn{
  display: block;
  width: 112px;
  height: 40px;
  padding: 10px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 98px;
  background-color: var(--main-red);
  color: white;
  border-radius: 5%;
}